.form__total-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 320px;
  margin-top: 30px;
  margin-right: 30px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 5px 0px rgba(234, 226, 226, 0.29);
  padding: 20px 25px;
}

.form__button {
  padding: 10px 25px;
}


.form__total-text {
  margin: 0;
}
.form__total-text > span {
  color: #646cff;
}
