.alert {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px 20px;
  color: rgb(100, 255, 227);
  box-shadow: 0px 2px 5px 0px rgba(234, 226, 226, 0.5);
  border: solid 1px transparent;
}

.alert__img {
  color: #646cff;
  height: 40px;
  box-shadow: 0px 2px 5px 0px rgba(234, 226, 226, 0.5);
}


